*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin:0;
    opacity:0;
}

.fade-in {
    opacity: 1!important;
    /* transition-duration: 2.5s;
    transition-timing-function: ease-in-out; */
}

#text-adventure {
    opacity:0;
    /* transition-duration: 2.5s;
    transition-delay: 3s; */
}

main {
    margin:0;
    display:flex;
    color:#ffffff;
    background: black url(img/town-day.jpg) no-repeat fixed;
    background-size:100%;
    background-position:top;
    width:100vw;
    height:100vh;
    flex-direction: column-reverse;
}

main, button {
    font-size:1.3em;
    /* font-family: 'Kaushan Script', cursive;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Calligraffitti', cursive; */
    font-family: 'MedievalSharp', cursive;
    font-family: 'Papyrus';
}

h1 {
    text-align:center;
    font-size:2.5em;
    margin:0;
}

#intro {
    text-align: center;;
}

#intro p:nth-of-type(2) {
    display:inline;
}

input {
    height:35px;
    margin: 0 5px 0 10px;
    padding-top:5px;
    padding-left:5px;
}

input[type="text"] {
    font-size:.8em;
    font-family:fantasy;
}


#intro button {
    height:35px;
    padding:4px 10px 0;
    margin: 0
}

#intro hr {
    width:50%;
    margin: 30px auto;
}

.small-text {
    font-size:.7em;
}


#text-adventure {
    height:40vh;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items:center;
    padding:40px 15%;
    background-color:rgba(0,0,0,.8);
    border-radius:20px 20px;
    margin: 0 20px 20px
}

#current-text {
    overflow:auto;
    list-style-type: none;
    padding:0;
    margin:0;
}

#current-text li {
    margin: 10px 0;
}

#current-options {
    display:flex;
    justify-content:center;
}

button {
    margin: 2px 5px;
    cursor:pointer;
    font-family: fantasy;
    font-size:.8em;
    padding:10px 15px 5px;
    transition:.25s;
}

input, button {
    border: 1px solid black;
    border-radius:3px;
}

button:hover {
    background-color:blueviolet;
    color:#fff;
}

.hidden-option {
    transition-duration: 1s;
    transition-delay: 2s;
}

#history {
    position:absolute;
    top:20px;
    right:20px;
    opacity:0;
    transition:1s;
}

@media (max-width:600px) {
    body {
        font-size:.8em;
    }
    #text-adventure {
        width:90vw;
        height:70vh;
        margin:0;
        background:black;
        border-radius: 0;
        padding:1vh 5vw;
        justify-content:space-around;
    }
    #current-options {
        flex-direction: column;
        margin-top:10px;
    }
}