*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin:0;
    opacity:0;
    background-color: black;
}

.fade-in {
    opacity: 1!important;
    /* transition-duration: 1.5s;
    transition-timing-function: ease-in-out; */
}

#text-adventure {
    /* opacity:0;
    transition-duration: 2.5s;
    transition-delay: 2s; */
}

main {
    display:flex;
    color:#ffffff;
    width:100vw;
    height:100vh;
    height: calc(var(--vh, 1vh) * 100);
    flex-direction: column-reverse;
    position:absolute;
    overflow:auto;
}

#bg {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    position: fixed;
  }

.bg-image {
    width:100vw;
    height: 100vh;
    transition: opacity .5s ease-in-out;
    position:fixed;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top;
  }  

main, button {
    font-size:1.2em;
    /* font-family: 'Kaushan Script', cursive;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Calligraffitti', cursive; */
    font-family: 'MedievalSharp', cursive;
    font-family: 'Papyrus';
}

h1 {
    text-align:center;
    font-size:2.5em;
    margin:0;
}

#intro {
    text-align: center;;
}

#intro p:nth-of-type(2) {
    display:inline;
}

input {
    height:35px;
    margin: 0 5px 0 10px;
    padding-top:5px;
    padding-left:5px;
}

input[type="text"] {
    font-size:.8em;
    font-family:fantasy;
}


#intro button {
    height:35px;
    padding:4px 10px 0;
    margin: 0
}

#intro hr {
    width:50%;
    margin: 30px auto;
}

.small-text {
    font-size:.7em;
    margin:5px;
}


#text-adventure {
    height:42vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    padding:25px 15% 25px;
    background-color:rgba(0,0,0,.8);
    border-radius:20px 20px;
    margin: 0 20px 20px;
}
#text-adventure.text-adventure-justify {
    justify-content:space-between;
}

#current-text {
    overflow:auto;
    list-style-type: none;
    padding:0;
    margin:0;
}

#current-text li {
    margin: 10px 0;
    color:#6e6e6e
}
#current-text li:last-of-type {
    color:#fff;
}

button {
    margin: 5px;
    cursor:pointer;
    font-size:.8em;
    padding:10px 15px 5px;
    transition:.25s;
}

.hidden-option, #history-button {
    transition: opacity 1.5s, background-color .25s;
}

input, button {
    border: 1px solid black;
    border-radius:3px;
}

button:hover {
    background-color:blueviolet;
    color:#fff;
}

#history-button {
    position:absolute;
    top:20px;
    right:20px;
    opacity:0;
}

/* This modal code is partially borrowed from https://codepen.io/eddyerburgh/pen/YqvVrr - along with the javascript. Used primarily as a reference, and wound up with... a very similar outcome. */
#history-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background:	rgba(0, 0, 0, 0.7);
    display: none;
}

.show {
    display: block!important;
  }

#history-contents {
    width: 95%;
    max-height:90%;
    max-width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 10px 40px 10px 10px;
    color:#000000;
    overflow:auto;
}

#history-contents hr {
    width:60%;
    margin:0 auto;
}

.history-list li {
    margin-bottom:10px;
    font-size:.8em;
}

#close-history {
    position: fixed;
    right: 5px;
    top: 5px;
    height: 25px;
    width: 25px;
    padding: 0;
    font-family: arial;
}

#close-history:hover {
    background-color:red!important;
    color:#fff;
}

@media (max-width:1200px){
    body {
        font-size:.9em;
    }
    #text-adventure {
        height:50vh;
        height: calc(var(--vh, 1vh) * 50);
    }
    #current-options {
        display:block;
    }
}

@media (max-width:880px){
    body {
        font-size:.8em;
    }
}

@media (max-width:650px) {
    body {
        font-size:.75em;
    }
    #intro p:nth-of-type(2) {
        display:block;
        margin-bottom:0;
    }
    .small-text {
        font-size:.85em;
        margin:10px;
    }
    .bg-image {
        background-size:contain;
    }
    #history-button {
        top: 5px;
        right: 5px;
    }
    #text-adventure {
        width:100vw;
        height:70vh;
        height: calc(var(--vh, 1vh) * 70);
        margin:0;
        background:black;
        border-radius: 0;
        padding:1vh 5vw;
    }
    #text-adventure.text-adventure-justify {
        justify-content:space-around;
    }
    #current-options {
        display:flex;
        flex-direction: column;
        margin-top:10px;
    }
    button {
        font-size:1em;
        margin: 2px 5px;
        color:black;
    }
    
}

@media (max-width:500px) {
    body {
        font-size:.65em;
    }